.metrics_component {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 0;
  background-color: #f5f5f5;
  width: 100%;
  min-height: 600px;
  box-shadow: inset 0px -11px 8px -10px rgba(0, 0, 0, 0.1);
  color: black;
}
.metrics_comp_form {
  margin-bottom: 100px;
}
.metricsDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
  width: 100%;
}

.metrics_input {
  width: 100px;
  height: 20px;
  background-color: #f5f5f5;
  color: rgb(0, 0, 0);
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.25s;
}

.metricsSubDiv {
  width: 400px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  color: black;
  border-radius: 8px;
}

.mentalWBDiv {
  background-color: red;
}
.fitnessDiv {
  background-color: orange;
}
.flexibilityDiv {
  background-color: rgb(62, 159, 62);
}
.diversityDiv {
  background-color: yellow;
}
.growthDiv {
  background-color: rgb(230, 92, 230);
}

@media screen and (max-width: 768px) {
  .metricsDiv {
    flex-direction: column;
    width: 100%;
  }
  .metrics_input {
    margin: 10px;
  }
  .metricsSubDiv {
    width: 100%;
  }
}
