.metrics_component {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
  background-color: #f5f5f5;
  width: 100%;
  min-height: 600px;
  box-shadow: inset 0px -11px 8px -10px rgba(0, 0, 0, 0.1);
  color: black;
  margin-top: 10px;
}
.metrics_comp_form {
  margin-bottom: 100px;
}
.metricsDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.metrics_input {
  width: 100px;
  height: 20px;
  background-color: #f5f5f5;
  color: rgb(0, 0, 0);
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.25s;
}

.metricsSubDiv {
  width: 400px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  color: black;
  border-radius: 8px;
}
.redHeader {
  color: rgb(226, 108, 108);
}
.blueHeader {
  color: rgb(123, 123, 217);
}

.mentalWBDiv {
  background-color: rgb(255, 181, 181);
}
.fitnessDiv {
  background-color: rgb(235, 200, 135);
}
.flexibilityDiv {
  background-color: rgb(159, 243, 159);
}
.diversityDiv {
  background-color: rgb(240, 240, 177);
}
.growthDiv {
  background-color: rgb(228, 160, 228);
}

@media screen and (max-width: 768px) {
  .metricsDiv {
    flex-direction: column;
    width: 100dvw;
  }
  .metrics_input {
    margin: 10px;
  }
  .metricsSubDiv {
    width: 90%;
  }
}
