.profileMainDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  min-height: 100dvh;
  flex-wrap: wrap;
}
.swipeCard {
  width: 240px;
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 10px;
  color: black;
}
.swipeCard p {
  margin: 0;
  padding: 0;
}
.swipeCard button {
  margin-top: 20px;
}

.leftswipe {
  background-color: rgb(255, 127, 127);
}

.rightswipe {
  background-color: rgb(123, 221, 123);
}
